

.head
{
    color: var(--bs-orange)!important;

}

#footer{
    /* background-color: var(--bs-orange)!important; */
    height: 500px;
}
.footer{
    color: white;
}
.img{
    transition: 2s;
}
img:hover{
    
    opacity: 50%;
transition: 0.4s ease-in-out;
    
}